<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Non-Technical Implementation of the Pulse Doppler Radar">
    <title>Pulse Doppler | RadarPi</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="static/assets/fonts/Montserrat/stylesheet.css"  type="text/css">
    <link rel="stylesheet" href="static/assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="static/assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="static/assets/css/untitled.css">
    <link rel="shortcut icon" href="static/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/assets/img/favicon.ico" type="image/x-icon">
<meta name="author" content="Dewan Pieterse">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="radarpi.html">RadarPi</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="radarpi.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="cwNT.html">cw - NT</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="cwT.html">CW - T</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="pulsedopplerNT.html">Pulsed - NT</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="pulsedopplerT.html"><strong>PULSEd - t</strong></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Pulse Doppler Radar:&nbsp;Non-Technical</h2>
                    <p class="text-left">This radar method is used to measure the range to objects and walls. That means the distance from the radar. </p>
                    <p class="text-left" style="padding-top:15px;">You should specify the maximum size of the room and the volume.</p>
                </div>
                <form action = "http://RadarPi.local:8080/results.html" method = "POST">
                    <div class="form-group"><label for="readonly">Mode</label><input class="form-control" type="text" name="mode" placeholder="Pulse Doppler Non-Technical" value="Pulse Doppler Non-Technical" readonly></div>
                    <div class="form-group"><label>Range</label><input class="form-control" type="number" name="rangeU" placeholder="5m - 15m" min="5" max="15"></div>
                    <div class="form-group"><label>Volume</label><input class="form-control" type="number" name="volume" step="0.01" placeholder="1.00 min - 100 max" min="1" max="100"></div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Submit</button></div>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2019 RadarPi | Dewan Pieterse | UCT</p>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>